<!DOCTYPE html>
<html>
<head>
  <title>ActiveInboxTranslator</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
 <div id=wrapper>
  <%= render :partial => 'layouts/locale-menu', :locals => {
    :locales => locale_menu
  } %>

  <%= render 'layouts/header' %>
  <div id=main>
    <%= yield %>
  </div>
</div>

</body>
</html>
